section#about.about.fdb-block
  .container
    .about-hack
      img(
        alt="image"
        src="./img/about-hack.png")
    .row.align-items-center
      .col-12.col-md-12.col-lg-6.col-xl-5
        .title ABOUT COMPANY
        div
          img.img-fluid(
            alt="image"
            src="./img/about-title.png")
        h2 广州云纵广告有限公司
        p 成立于2013年，是一家专注为企业提供数字整合营销服务的新媒体营销公司，擅长结合主流媒体渠道和创意，帮助客户定制营销目标、制定营销计划、媒介采购、媒介执行、数据监控、效果优化、网站建设等一站式网络营销专业服务。
      .col-12.col-md-8.m-auto.ml-lg-auto.mr-lg-0.col-lg-6.pt-5.pt-lg-0
        img.img-fluid(
          alt="image"
          src="./img/about-picture.jpg")