section#flow.flow.fdb-block.bg-dark
  .container
    .row.text-left.mt-5
      .col-12.col-md-4
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-1.png")
          p.text-left 通过前期市场调查，系统客观的收集信息并研究分析，针对品牌的发展趋势予以预测，为投资或发展方向的决策做准备；产品分析锁定目标受众利用网络整合营销手段帮助广告主实现营销目标。
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-2.png")
          p.text-left 建立人数为5-8人的专项小组，根据品牌推广节奏的不同需求分配工作，快速响应需求，按时沟通和反馈投放情况，及时排查和解决问题，从而达成顺畅有效的合作。
      .col-12.col-md-4
        .flow-box.flow-3
          img.flow-title(
            alt="image"
            src="./img/flow-3.png")
          p.text-left 根据产品的特性去进行人群筛选，选出合适的人群，在渠道上找到具有相对应的相似人群平台进行素材制作和投放准备。
      .col-12.col-md-4
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-4.png")
          p.text-left 针对产品和平台人群的偏好去制作合适的投放素材，通过跟平台的交流进行素材优化跟广告位的筛选，找出最合适的位置进行投放。
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-5.png")
          p.text-left 进行投放后根据每天反馈的数据跟平台上显示的数据进行分析，找到不足的地方进行改进，根据投放的效果进行素材的更新和优化，进一步的提升投放效果。