section#flow.flow.fdb-block.bg-dark
  .container
    .row.text-left.mt-5
      .col-12.col-md-4
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-1.png")
          p.text-left Through the prophase of marketing research, and systematically analyze of collected data, to bring prediction report & trend to our branding clients, helping decision making of our clients; besides, via the analysis of products/services of clients can better utilize of network marketing and target certain audiences, overall, enhance and achieve the marketing target.
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-2.png")
          p.text-left Set up a number of 5-8 special group, to particularly serve the branding promotion, promptly response of demands in different timing, timely communication and feedback of delivery situation, troubleshooting and solution, so that to bring effective & efficient cooperation in return.
      .col-12.col-md-4
        .flow-box.flow-3
          img.flow-title(
            alt="image"
            src="./img/flow-3.png")
          p.text-left Screening of audience according to the attributes of products/services, and then find out relevant media channels with similar audience for the marketing.
      .col-12.col-md-4
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-4.png")
          p.text-left In the light of products/services & certain media platforms, there will prepare and produce particular advertising materials, as well as to negotiate with certain medias and provide best positions for marketing delivery to our clients, guarantee the best outcome in return for the marketing.
        .flow-box
          img.flow-title(
            alt="image"
            src="./img/flow-5.png")
          p.text-left After the advetising delivery there will have data feedback daily from both medias & clients, we verify outcome and find out solution to the field that need to improve, as well as there will relevantly adjust the marketing materials in the aim to enhance the next marketing promotion.